.state-container {
  min-height: 30vh;
  background-color: rgba(235, 235, 235, 0.993);
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}
